<div class = "top-wrapper">
        <div class = "text-center-text-white">
                <h1>あなたの才能を16小節に詰め込もう！</h1>
                <p class = "explanation">16novel はラップを気軽に投稿、鑑賞できるSNSサービスです。</p>
     
                <a href="users/new" class ="btn new">アカウント作成はこちら</a>
                <a href="#" class ="btn login">ログインはこちら</a>
        </div>
</div>
